@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
.header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  align-items: center;
  position: fixed;
  top: 0px;
  transition: 0.4s ease-in-out;
}
.header .title_row {
  display: block;
  margin: 0 2vw;
}
.header .title_row a {
  font-size: 2.5rem;
  text-decoration: none;
  color: #fff;
  transition: 0.5s ease-in-out;
  font-weight: 300;
}
.header .title_row a:hover {
  color: #80FFDB;
}
.header .navbar {
  display: flex;
}
.header .navbar .menu {
  margin-right: 1vw;
}
.header .navbar .menu .nav_links {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
}
.header .navbar .menu .nav_links .nav_link {
  margin: 0 1vw;
}
.header .navbar .menu .nav_links .nav_link a {
  font-size: 1.35rem;
  font-weight: 200;
  text-decoration: none;
  color: #fff;
  transition: 0.3s ease-in-out;
}
.header .navbar .menu .nav_links .nav_link a:hover {
  color: #80FFDB;
}
.header .navbar .menu .nav_links button {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid #80FFDB;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  margin: 2vw;
  border-radius: 30px;
}
.header .navbar .menu .nav_links button:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #80FFDB;
  transform: translateX(-100%);
  transition: all 0.5s;
  z-index: -1;
}
.header .navbar .menu .nav_links button:hover {
  color: #191825;
}
.header .navbar .menu .nav_links button:hover::before {
  transform: translateX(0);
}
.header.scrolled {
  background-color: #191825;
  box-shadow: 2px 2px 10px 10px #232323;
}

.footer_text {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer_text span {
  height: 3px;
  width: 50vw;
  border-radius: 30px;
  background-color: #DEDEDE;
}
.footer_text--items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 5vh 0;
}
.footer_text--items .footer_items {
  margin: 0 5vw;
  display: flex;
  flex-direction: column;
}
.footer_text--items .footer_items h2 {
  color: #fff;
  margin-bottom: 2vh;
}
.footer_text--items .footer_items a {
  color: #fff;
  margin: 0.5vh 0;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}
.footer_text--items .footer_items a:hover {
  color: #80FFDB;
}

.content_container {
  display: flex;
  max-width: 100vw;
  margin: 15vh 0 5vh 0;
  justify-content: center;
  align-items: center;
}
.content_container .content_container_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 80vw;
}
.content_container .content_container_wrapper .content_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 5vh 0;
}
.content_container .content_container_wrapper .content_item .content_item--text {
  max-width: 40vw;
  margin-right: 5vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content_container .content_container_wrapper .content_item .content_item--text h2 {
  color: #80FFDB;
  margin-bottom: 2vh;
  letter-spacing: 2px;
  font-weight: 300;
  font-size: 2rem;
}
.content_container .content_container_wrapper .content_item .content_item--text p {
  color: white;
  font-size: 1.3rem;
}
.content_container .content_container_wrapper .content_item .content_item--text p a {
  color: #80FFDB;
  font-weight: 600;
}
.content_container .content_container_wrapper .content_item img {
  margin: 0 auto;
  max-width: 30vw;
  border-radius: 3px;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292929;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-style: solid;
  border-color: #80FFDB;
  border-width: 2px;
  background: #000;
  border-radius: 30px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #80FFDB;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #292929;
}/*# sourceMappingURL=styles.css.map */